In [43]:
import os
import pandas as pd
import numpy as np

In [47]:
ss = pd.read_parquet('/Users/soomin/Desktop/공공데이터/renewable-power-prediction/data/concat_data/감우리.parquet')
ss

,date,호기,총량(kw),평균(kw),최대(kw),최소(kw),최대(시간별_kw),최소(시간별_kw),value,time,...,sunrise,sunset,SO2,CO,O3,NO2,PM10,PM25,미세먼지,초미세먼지
0,2021-08-05,1,2706.72,112.78,412.32,0,412.32,0.48,0.0,00:00,...,05:37,19:32,0.003,0.4,0.035,NaN,37.0,25.0,보통,보통
1,2021-08-05,1,2706.72,112.78,412.32,0,412.32,0.48,0.0,01:00,...,05:37,19:32,0.001,0.4,0.014,NaN,33.0,18.0,보통,보통
2,2021-08-05,1,2706.72,112.78,412.32,0,412.32,0.48,0.0,02:00,...,05:37,19:32,0.001,0.4,0.010,NaN,30.0,15.0,좋음,좋음
3,2021-08-05,1,2706.72,112.78,412.32,0,412.32,0.48,0.0,03:00,...,05:37,19:32,0.002,0.4,0.011,NaN,29.0,17.0,좋음,보통
4,2021-08-05,1,2706.72,112.78,412.32,0,412.32,0.48,0.0,04:00,...,05:37,19:32,0.002,0.4,0.008,NaN,30.0,18.0,좋음,보통
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12331,2022-12-31,1,964.32,40.18,173.28,0,173.28,1.40,0.0,19:00,...,07:41,17:21,0.003,0.7,0.026,0.020,38.0,28.0,보통,보통
12332,2022-12-31,1,964.32,40.18,173.28,0,173.28,1.40,0.0,20:00,...,07:41,17:21,0.003,0.6,0.027,0.017,44.0,37.0,보통,보통
12333,2022-12-31,1,964.32,40.18,173.28,0,173.28,1.40,0.0,21:00,...,07:41,17:21,0.003,0.6,0.026,0.017,44.0,35.0,보통,보통
12334,2022-12-31,1,964.32,40.18,173.28,0,173.28,1.40,0.0,22:00,...,07:41,17:21,0.003,0.6,0.026,0.016,42.0,37.0,보통,보통
12335,2022-12-31,1,964.32,40.18,173.28,0,173.28,1.40,0.0,23:00,...,07:41,17:21,0.003,0.6,0.024,0.017,43.0,36.0,보통,보통

In [46]:
file = pd.read_parquet('../../data/weather_forecast_data/2015_2021_prediction_total_data/동해_prediction_weather_data.parquet')
file[file['day']=='20150210'][20:60]

,day,hour,forecast,3시간기온,강수확률,하늘상태,풍속,풍향
5940,20150210,0500,4,6.200000,0.000000,1.000000,4.000000,253.000000
5941,20150210,0500,7,4.500000,0.000000,1.000000,3.500000,237.000000
5942,20150210,0500,10,3.800000,0.000000,1.000000,3.900000,237.000000
5943,20150210,0500,13,3.300000,10.000000,2.000000,3.700000,264.000000
5944,20150210,0500,16,2.300000,10.000000,2.000000,2.300000,233.000000
5945,20150210,0500,19,3.600000,10.000000,2.000000,2.300000,231.000000
5946,20150210,0500,22,7.000000,10.000000,2.000000,2.800000,279.000000
5947,20150210,0500,25,7.600000,10.000000,2.000000,4.200000,301.000000
5948,20150210,0500,28,5.100000,10.000000,2.000000,3.300000,320.000000
5949,20150210,0500,31,1.800000,10.000000,2.000000,2.200000,335.000000
5950,20150210,0500,34,1.100000,10.000000,2.000000,3.100000,273.000000
5951,20150210,0500,37,0.300000,10.000000,2.000000,2.500000,246.000000
5952,20150210,0500,40,-0.900000,10.000000,2.000000,2.800000,250.000000
5953,20150210,0500,43,-0.500000,10.000000,2.000000,2.800000,281.000000
5954,20150210,0500,46,3.500000,10.000000,2.000000,3.000000,318.000000
5955,20150210,0500,49,4.500000,0.000000,1.000000,3.500000,318.000000
5956,20150210,0500,52,2.100000,0.000000,1.000000,3.600000,321.000000
5957,20150210,0500,55,-0.400000,0.000000,1.000000,2.200000,268.000000
5958,20150210,0500,58,-0.400000,0.000000,1.000000,2.700000,237.000000
5959,20150210,0800,4,5.300000,0.000000,1.000000,4.300000,243.000000
5960,20150210,0800,7,3.700000,0.000000,1.000000,3.900000,209.000000
5961,20150210,0800,10,2.600000,10.000000,2.000000,3.900000,209.000000
5962,20150210,0800,13,2.500000,10.000000,2.000000,3.300000,203.000000
5963,20150210,0800,16,2.900000,10.000000,2.000000,3.700000,201.000000
5964,20150210,0800,19,5.800000,10.000000,2.000000,4.000000,285.000000
5965,20150210,0800,22,6.900000,10.000000,2.000000,3.800000,331.000000
5966,20150210,0800,25,5.300000,10.000000,2.000000,3.100000,248.000000
5967,20150210,0800,28,2.200000,10.000000,2.000000,2.800000,267.000000
5968,20150210,0800,31,0.600000,10.000000,2.000000,3.200000,241.000000
5969,20150210,0800,34,-0.400000,0.000000,1.000000,2.800000,238.000000
5970,20150210,0800,37,-1.500000,0.000000,1.000000,2.800000,246.000000
5971,20150210,0800,40,-0.200000,0.000000,1.000000,4.400000,270.000000
5972,20150210,0800,43,3.400000,0.000000,1.000000,4.500000,321.000000
5973,20150210,0800,46,4.500000,0.000000,1.000000,5.200000,318.000000
5974,20150210,0800,49,2.900000,0.000000,1.000000,4.900000,291.000000
5975,20150210,0800,52,0.700000,0.000000,1.000000,3.300000,262.000000
5976,20150210,0800,55,0.600000,0.000000,1.000000,3.700000,263.000000
5977,20150210,1100,4,3.700000,0.000000,1.000000,3.900000,209.000000
5978,20150210,1100,7,2.600000,10.000000,2.000000,3.900000,209.000000
5979,20150210,1100,10,2.500000,10.000000,2.000000,3.300000,203.000000